.gridContainer {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    grid-template-areas: 
        "header"
        "paragraph"
        "social"
        "button"
        "image";
    justify-items: center;
}

.headerTitle {
    grid-area: header;
    text-overflow: ellipsis;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.headerParagraph {
    grid-area: paragraph;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.socialMediaContainer {
    grid-area: social;
    font-size: 1.15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialMediaLink {
    grid-area: social;
    margin-right: 2rem;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 0 0 black;
    padding: 0.5rem;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.socialMediaLink:hover {
    box-shadow: inset 100px 0 0 0 white;
    color: black;
}

.buttonContainer {
    grid-area: button;
}

.button {
    font-family: monospace;
    font-size: 1rem;
    border: 0.15rem solid white;
    border-radius: 5rem;
    background-color: rgb(27, 27, 27);
    padding: 1rem;
    margin-right: 1rem;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

.profileImageContainer {
    position: static;
    right: auto;
    grid-area: image;
    grid-column: 1;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.profileImage {
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .gridContainer {
        padding: 6rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header image"
            "paragraph image"
            "social image"
            "button image";
    }

    .headerTitle {
        font-size: 3.75rem;
    }

    .headerParagraph {
        font-size: 1.75rem;
    }

    .socialMediaContainer {
        font-size: 1.15rem;
    }

    .profileImageContainer {
        position: absolute;
        right: 20rem;
        width: 400px;
        height: 400px;
    }
    
    .profileImage {
        width: 400px;
        height: 400px;
    }
}