.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

.headerTitle {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.headerParagraph {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.button {
    font-family: monospace;
    font-size: 1rem;
    border: none;
    border-radius: 5rem;
    background-color: rgb(27, 27, 27);
    padding: 1rem;
    margin-right: 1rem;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

.profileImageContainer {
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.profileImage {
    width: 400px;
    height: 400px;
}

@media screen and (min-width: 320px) {
    .headerTitle {
        font-size: 2rem;
    }

    .headerParagraph {
        font-size: 1rem;
    }

    .button {
        margin-bottom: 1rem;
    }

    .profileImageContainer {
        width: 150px;
        height: 150px;
    }

    .profileImage {
        width: 150px;
        height: 150px;
    }
    
}

@media screen and (min-width: 768px) {
    .headerTitle {
        font-size: 2.75rem;
    }

    .headerParagraph {
        font-size: 1.5rem;
    }

    .profileImageContainer {
        width: 250px;
        height: 250px;
    }

    .profileImage {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 1024px) {
    .headerTitle {
        font-size: 3.75rem;
    }

    .headerParagraph {
        font-size: 1.75rem;
    }

    .profileImageContainer {
        width: 400px;
        height: 400px;
    }

    .profileImage {
        width: 400px;
        height: 400px;
    }
}